:root {
    --font-family: "InterTight", sans-serif;
    --second-family: "VelaSans", sans-serif;

    --white: #fff;
	--grayscale-01: #1f222e;
	--grayscale-02: #353a4e;
	--grayscale-03: #606a8f;
	--grayscale-04: #7e86a8;
	--grayscale-05: #9ea4be;
	--grayscale-06: #bec3d3;
	--grayscale-07: #f2f3f6;
	--grayscale-08: #e3e5ec;
	--primary-01: #0064f4;
	--primary-02: #72a0e3;
	--primary-03: #aee4f3;
	--primary-04: #9789d2;
	--primary-05: #5fdc8a;
	--primary-06: #ffbc5b;
	--primary-07: #858585;
	--primary-08: #5a896e;
	--primary-09: #a5c2ed;
	--primary-10: #6c4fe1;
	--primary-11: #ffda6b;
}
